body,ul,li,a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    position: relative;
    margin: 100px auto;
    border: 1px solid black;
    width: 520px;
    height: 282px;
    overflow: hidden;
    cursor: pointer;
}
.main{
    position: absolute;
    width: 4160px;
    height: 282px;
    left: -520px;
    font-size: 0;
}
.list{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -35px;
    font-size: 50%;
    font-size: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
}
.list li{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    margin:3px;
    cursor: pointer;
}
.list .active{
    background: #ff6700;
}
.btn{
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    color: #fff;
    background: rgba(0,0,0,0.3);
}
.container:hover .btn{
    display: inline-block;
}
#prev{
    left: 0;
}
#next{
    right: 0;
}